doctype html
html
    include header
    include nav

    body
        br
        br
        .container
            .row
                .col-md-2
                .col-md-8
                    form(role='form')
                        .form-group
                            label(for='et') Event Title:
                            input#et.form-control(type='string')
                        .form-group
                            label(for='ct') Event Description:
                            br
                            textarea#ct(rows='5', cols='88') Please add the detailed description of upcoming events.

                        .form-group
                            label(for='ed') Event Date:
                            input#ed.form-control(type='date')

                        .form-group
                            label(for='pd') Publish Date:
                            input#pd.form-control(type='date')


                        .form-group
                            label(for='p') Publisher:
                            input#p.form-control(type='string')


                        br
                        div
                            button.btn.btn-primary(type="submit") Submit
        br

    include footer