doctype html
html
    include header
    include nav

    body
        br
        br
        .container
            .row
                .col-md-2
                .col-md-8
                    if messages
                        .row
                            .col-md-4
                            .text-success
                                strong #{messages}
                    form(role='form' method='post' action='/doctor/addevent')
                        .form-group
                            label(for='et') Event Title:
                            input#et.form-control(type='string' name='et')
                        .form-group
                            label(for='ct') Event Description:
                            br
                            textarea#ct(rows='8', cols='72', name='ct') Please add the detailed description of upcoming events.

                        .form-group
                            label(for='ed') Event Date:
                            input#ed.form-control(type='date' name='ed')

                        //.form-group
                            label(for='pd') Publish Date:
                            input#pd.form-control(type='date')


                        //.form-group
                            label(for='p') Publisher:
                            input#p.form-control(type='string')


                        br
                        div
                            button.btn.btn-primary(type="submit") Submit
        br

    include footer