doctype html
html
    include header
    include nav

    body
        .row
            .col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3


    each customer in customers
        .row: each cd in customer

            .col-sm-6.col-md-4.text-center
                .caption
                    h3= cd.firstname+'  '+cd.lastname
                    p.description= cd.phone
                    p.description= cd.phs


include footer