doctype html
html
        include header
        include nav
        body
            .container
                .row
                    .col-md-3
                    .col-md-6
                        form
                            .form-group
                            label(for="exampleInputPassword1") Change Password
                            input#exampleInputPassword1.form-control(type="password", placeholder="Password")

                            .form-group
                            label First name:
                            br
                            input.form-control(type='text', name='firstname')

                            .form-group
                            label Last name:
                            br
                            input.form-control(type='text', name='lastname')

                            .form-group
                            label age:
                            br
                            input.form-control(type="number" name="age" min="1" max="100")

                            .form-group
                            label weight (kg):
                            br
                            input.form-control(type="number" name="w" min="30" max="300")

                            .form-group
                            label height (cm):
                            br
                            input.form-control(type="number" name="h" min="60" max="250")

                            .form-group
                            label phone number:
                            br
                            input.form-control(type="number" name="phone")


                            .form-group
                            input(type='radio', name='gender', value='male', checked='')
                            |  Male
                            input(type='radio', name='gender', value='female')
                            |  Female
                            input(type='radio', name='gender', value='other')
                            |  Other


                            .form-group
                            label(for="bg") Blood Group
                            select#bg.form-control
                                option A
                                option B
                                option O
                                option AB
                                option Others

                            .form-group
                            label(for="country") country
                            input#country.form-control(type="string" name="country")

                            .form-group
                            label(for="city") city
                            input#city.form-control(type="string" name="city")


                            .form-group
                            label(for="exampleTextarea") Personal health statement
                            textarea#exampleTextarea.form-control(rows="4")

                            br
                            div
                                button.btn.btn-primary(type="submit") Save
        include footer