doctype 5
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css",integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M",crossorigin="anonymous")
    body
        block content
            .container

                if hasErrors
                    #btnDangerCenter
                        each message in messages
                            p #{message}

                form(action="/user/login", method="post")
                    div.form-group
                        label(for="email") Email
                        input(type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email")
                        small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.

                    div.form-group
                        label(for="Password") Password
                        input(type="password" class="form-control" id="Password" name='password' placeholder="Password")

                    div.form-group
                        label(for="ac") Access Code
                        input(type="string" class="form-control" id="ac" name='ac' placeholder="Access Code")
                        small(id="edac" class="form-text text-muted") Only End Users must fill Access Code.

                    //div.form-check
                        label.form-check-label
                            input(type="checkbox" class="form-check-input")
                            | Check me out
                    -var cs= csrfToken;
                    input(type="hidden" name="_csrf" value= cs)

                    button.btn.btn-primary(type="submit") Log In
                br
                p
                    | Don't have an account?
                    a(href="/user/signup")
                        = '  '
                        | Sign Up Instead!

