body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}


.thumbnail description {
  color: aqua;
}
.thumbnail {
  margin:20%;
}



price {
  font-weight: bold;
  font-size: 16px;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 40px; }
.pl-ziro { padding-left: 0px; }
.container-checkout{margin-top: 40px;}


#ope {
  background-color: beige;
}