doctype 5
html
    include header
    style.
        #map {
            height: 90%;
            width: 100%;
        }
    body
        include nav
        h3
        #map
        script.
            function initMap() {
                var uluru = {lat: -33.886561, lng:151.191157};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        script(async="", defer="", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnKlBqUW1np9_b54sKAxKC6q_RCkKacs4&callback=initMap")
    include footer