doctype html
html
    include header
    include nav

    body
    if products.length > 0
        .row
            .col-sm-3.col-md-3
            .col-sm-6.col-md-6
                br
                br
                br
                ul.list-group
                each product in products
                    li.list-group-item
                        span.badge.badge-dark.pull-right #{ product.qty }
                        span.label.label-success.panel-title.pull-left #{product.price}
                        strong  #{ product.item.title }
                        .btn-group.pull-right
                            button.btn.btn-primary.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                                | Action
                                span.caret
                            ul#ope.dropdown-menu
                                - var id = product.item._id;
                                li

                                    a(href="/customer/reduce/" + id) Reduce by 1
                                // _id : get from mongodb//
                                li
                                    a(href="/customer/remove/" + id) Remove all

        br
        br
        .row
            .col-sm-3.col-md-3
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                strong.panel-title Total: #{ totalPrice }
        br
        hr

        .row
            .col-sm-3.col-md-3
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                a.btn(href="/customer/checkout", type="button") Check Out
    else
        .row
            .col-sm-5.col-md-5
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                br
                br
                h2 No Items In Cart
    include footer