doctype 5
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css",integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M",crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-1.12.4.js", integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light

            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/customer/index")
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="#") Profile
                    li.nav-item
                        a.nav-link(href="/customer/quiz") OnlineQuiz
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            | Available Sources
                        .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                            a.dropdown-item(href="/customer/map") Available Hospitals
                            a.dropdown-item(href="#") Available Doctors

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/customer/shopping-cart/")
                            i.fa.fa-shopping-cart(aria-hidden="true")
                            |  Shopping Cart
                            //span.badge ＃{session.cart.totalQty}



            if login
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit" name='logout')
                a(href='/user/logout') Log out
        br
        br
    if products
        .row(xmlns:button="http://www.w3.org/1999/html")
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                ul.list-group
                each medicine in products
                    li.list-group-item
                        span.badge {{ item.qty }}
                        span.label.label-success.panel-title.pull-left $#{item.price}
                        strong  &nbsp&nbsp{{ this.item.title }}
                        .btn-group.pull-right
                            button.btn.btn-primary.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                                | Action
                                span.caret
                            ul#ope.dropdown-menu
                                li
                                    a(href="/reduce/{{this.item._id}}") Reduce by 1
                                // _id : get from mongodb//
                                li
                                    a(href="/remove/{{this.item._id}}") Remove all
                    |             {{/each}}
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                strong.panel-title Total: {{ totalPrice}}
        hr
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                a.btn.btn-success(href="/checkout", type="button") Check Out
    else
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                h2 No Items In Cart

